<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
  
    <h1>Here are your orders, <%= orders.username %>
    </h1>
    <form action="#" method="post">
        <table border="1">
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Order Date</th>
                <th>Status</th>
            </tr>
            <% orders.Orders.forEach(e=> { %>

                <tr>
                    <td>
                        <%= e.Product.productName %>
                    </td>
                    <td>
                        <%= e.quantity %>
                    </td>
                    <td>
                        <%=convertCurrency(e.totalPrice) %>
                    </td>
                    <td>
                        <%= e.formatOrderDate %>
                    </td>
                    <td>
                        <%= e.statusOrder %>
                    </td>
                </tr>
                <% }) %>
        </table>

        <p>
            <%=convertCurrency(subtotal) %>
        </p>

        <button>Pay Now</button>
    </form>